@import url('https://fonts.googleapis.com/css?family=Dosis|Nunito');


html, body {
  height: 100%;

  /* No scrollbars, in combination with height 100% */
  margin: 0;

  background-color: #e0e0e0;

  color: #484848;
  font-family: Dosis, sans-serif;
}

a, a:visited, a:hover {
  color: #ee4500;

  text-decoration: none;
}


.header {
    margin-bottom: 0;
    padding-bottom: 0;
}

.header h1 {
  color: #ee4500;
  font-size: 96px;
  font-weight: 900;
}

.header h1 a{
}

.header h1 a:hover {
  text-decoration: none;
}

.header li {
  padding-left: 2em;
}

nav {
  margin-right: 2em;
}


.jumbotron {
  margin-bottom: 1em;

  background: #e4e4e4;

  border-color: #d8d8d8;
  border-style: solid;
  border-width: 1px 2px 3px 1px;
}

.jumbotron-about {
  padding: 3em;

  font-size: 18px;
}

.jumbotron input {
  width: 75%;

  margin: 0;

  background: #efefef;

  font-size: 18px !important;

  padding: 6px;

  border: 1px solid #d8d8d8;
  border-radius: 6px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.jumbotron button {
  margin: 0;

  background: #ee4500;

  color: #efefef;
  font-size: 18px !important;

  padding: 6px;

  border-color: #d8d8d8;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#display-loader {
  height: 0;

  transform: translateY(3em);
}

#display-micro {
  height: 2em;

  padding-top: 1em;

  font-size: 2em;
}

.hidden {
  display: none;

  padding: 0;
}

.footer {
  margin-top: 5em;

  padding-bottom: 3em;

  border: 0;
}
