{% extends "base.html" %}

{% block content %}
  <div class="jumbotron jumbotron-about">

    <div class="container">
      An <a href="https://en.wikipedia.org/wiki/Free_and_open-source_software">FOSS</a>
      URL shortener written in <a href="https://www.python.org">Python</a> and
      <a href="http://flask.pocoo.org/">Flask</a>.
    </div>

    <div class="container" style="margin-top: 1em">
      <a href="https://github.com/francium/microURL">
        view source on github
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
    </div>

  </div>
{% endblock %}
