<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>&microURL - about</title>

  <link rel="stylesheet"
    href="{{ url_for('static', filename='vendor/bootstrap/bootstrap.min.css') }}">
  <link rel="stylesheet"
    href="{{ url_for('static', filename='vendor/bootstrap/jumbotron-narrow.css') }}">
  <script async
    href="{{ url_for('static', filename='vendor/bootstrap/bootstrap.min.js') }}">
  </script>

  <link rel="stylesheet"
    href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}">

  <link rel="stylesheet"
    href="{{ url_for('static', filename='vendor/spinkit/spinner.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

  <div class="container">

    <div class="header">
      <h1><a href="/">&microURL</a></h1>
    </div>


    {% block content %}
    {% endblock %}

    <div class="header">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation"><h3><a href="/all">all micros</a></h3></li>
          <li role="presentation"><h3><a href="/about">about</a></h3></li>
        </ul>
      </nav>
    </div>

    <div class="navbar-fixed-bottom text-center">
      <div class="footer">
        by francium | <a href="https://github.com/francium/microURL">fork me on github</a>
      </div>
    </div>

  </div>

  {% block foot %}
  {% endblock %}

</body>

</html>
