{% extends "base.html" %}

{% block foot %}
  <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}

{% block content %}
  <div class="jumbotron">
    <form id="make-micro-form">
      <input name="url">
      <button id="make-micro-submit">make &micro</button>
    </form>

    <div class="center-text">
      <div id="display-loader" class="hidden spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <div id="display-micro"></div>
    </div>
  </div>
{% endblock %}
